body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  padding: 0 50px;
  
}

.content-section:first-of-type {
  /* sadece ilk section için */
  margin-bottom: -15px;
  background: linear-gradient(to right, #184a6e, #287db1);
  color: white;
  padding-top: 30px;
}

.content-section.reverse {
  background-color: rgb(230, 248, 255);
  padding: 80px 50px 50px; /* üst 80px, yanlar 50px, alt 50px */
  
}

.content-section .text {
  margin: 0px 100px;
  flex: 1;
}

.content-section.reverse .text {
  margin-left: 100px;
  margin-right: 0px;
  flex: 1;
}

.content-section .image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-section .image img {
  max-width: 100%;
}

.content-section .image .formula {
  width: 60%;
  max-width: 250px;
}
.content-section .image .diagram {
  width: 90%;
  max-width: 350px;
}

.content-section .image .table {
   max-width: 70%;
}

.content-section h2 {
  font-size: 23px;
  margin: 50px 0px 25px 25px;
}

.content-section p {
  font-size: 17px;
  line-height: 1.5;
  margin: 0px 0px 50px 45px;
  position: relative;
}

/*Dalga*/
.custom-shape-divider-top-1756072994 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1756072994 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
  transform: rotateY(180deg);
}

/*Fonksiyonu dene butonu*/
.btn {
  display: block;
   width: fit-content; 
  margin: 0 auto 50px;
  padding: 15px 15px;
  border-radius: 5px;
  background: darkblue;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #2563eb;
}

/*Hakkımızda Özet*/

.about-section {
  background: rgb(230, 248, 255);
  width: 100%;
  padding: 50px 0 150px; /* üst 40px, alt 150px */
}

.about-preview {
  background: rgb(230, 248, 255);
  padding: 0 20px;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 1270px;
}

.about-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 7px;
}

.about-header h2 {
  font-size: 25px;
  font-weight: bold;
  
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 55px;
}

.card {
  width: 330px;     /* eski 260px yerine küçültüldü */
  height: 200px;   
  perspective: 1000px;
  background: none;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /*height: 230px;*/
  transition: transform 1.1s;
  transform-style: preserve-3d; /* ön ve arka yüz */
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* döndüğünde görünmesin */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Ön yüz */
.card-front {
  background: white;
  text-align: left;
}

/* Arka yüz */
.card-back {
  /*background: #0077b6;*/
  background: linear-gradient(to right, #184a6e, #287db1);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.card-back h3 {
  font-size: large;
  margin-top: 40px;
  text-align: center;
  position: absolute;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.icons a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.icons a:hover {
  color: #74cef8;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-header .info h3 {
  margin-bottom: 5px;
  margin-top: -5px;
  font-size: 18px;
}

.card-header .info p {
  margin: 7px 0;
  font-size: 13px;
  color: #777;
}

.card .desc {
  margin-top: 10px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
