body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(90deg, #184a6e, #287db1, #4da8da);
  color: white;
  padding: 50px 0 30px 50px;
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
}

.hero-section .text {
  max-width: 800px;
  margin-left: clamp(20px, 6vw, 100px);
}

.hero-section h1 {
  margin: 0 0 30px 0;
  font-weight: bold;
  font-size: 2.5rem;
}

.hero-section h3 {
  color: rgba(255, 255, 255, 0.833);
  margin: 0 0 20px 0;
  font-weight: 400;
  opacity: 0.9;
}

.hero-section p {
  font-size: 17px;
  line-height: 1.6;
  margin: 20px 0;
}

/* Hero Buttons Container */
.hero-buttons {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-buttons .btn {
  padding: 15px 15px;
  background: linear-gradient(135deg, #4da8da, #8a6be1);
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  margin: 30px 100px 0 0;
}

.hero-buttons .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #8a6be1, #4da8da);
}

.hero-section dotlottie-wc {
  width: 100%;
  max-width: 900px;
  height: auto;
  object-fit: contain;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 50px 50px;
}

.content-section.reverse {
  background-color: rgb(230, 248, 255);
  padding: 50px 50px;
}

.content-section.reverse h2 {
  margin: 50px 0px 10px 25px;
}

.content-section .text {
  margin: 0px clamp(20px, 6vw, 100px);
  flex: 1;
}

.content-section.reverse .text {
  margin-left: clamp(20px, 6vw, 100px);
  margin-right: 0px;
  flex: 1;
}
.title-underline {
  width: 90px;
  height: 4px;
  background: linear-gradient(45deg, #667eea, #764ba2);
  margin: 0 auto;
  border-radius: 2px;
}
.content-section .image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-section .image img {
  max-width: 100%;
}

.content-section .image .formula {
  width: 60%;
  max-width: 250px;
}
.content-section .image .diagram {
  width: 90%;
  max-width: 350px;
}

.content-section .image .table {
  max-width: 70%;
}

.content-section h2 {
  font-size: 23px;
  margin: 0px 0px 10px 25px;
  text-align: center;
}

.content-section p {
  font-size: 17px;
  line-height: 1.5;
  margin: 20px 0px 50px;
  position: relative;
}

/*Dalga*/
.custom-shape-divider-top-1756072994 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: linear-gradient(90deg, #184a6e, #287db1, #4da8da);
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' fill='white'/></svg>")
    bottom/100% 100% no-repeat;
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' fill='white'/></svg>")
    bottom/100% 100% no-repeat;
}

.custom-shape-divider-top-1756072994 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
  transform: rotateY(180deg);
}

/*Buton tasarımı*/
.btn {
  display: block;
  width: fit-content;
  margin: 40px auto 0 auto;
  padding: 13px 15px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #664caf, #8a6be1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

/* Parlama efekti */
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.5s;
}

.btn:hover::before {
  left: 100%;
}

/* Hover efekti */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(102, 76, 175, 0.3);
}

/*Hakkımızda Özet*/
.about-section {
  background: white;
  width: 100%;
  padding: 50px 0 150px;
}

.about-preview {
  background: white;
  padding: 0 20px;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 1270px;
}

.about-header {
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: center;
}

.about-header h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-header p {
  font-size: 18px;
  color: #64748b;
  margin-top: 15px;
}

.about-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: 40px;
}

.card {
  width: 350px;
  height: 300px;
  perspective: 1000px;
  background: none;
  border-radius: 12px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.1s;
  transform-style: preserve-3d; /* ön ve arka yüz */
  transform-origin: center;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* döndüğünde görünmesin */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Ön yüz */
.card-front {
  background: rgb(230, 248, 255);
  text-align: left;
}

/* Arka yüz */
.card-back {
  background: linear-gradient(135deg, #184a6e, #287db1, #4da8da);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.card-back h2 {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.card-back p {
  font-size: 17px;
  margin: 0;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.icons a {
  font-size: 35px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  transition: transform 0.3s ease;
}

.icons a:hover {
  transform: translateY(-4px);
  color: rgb(230, 248, 255);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-header .info {
  padding-left: 15px;
}

.card-header .info h3 {
  margin-bottom: 15px;
  margin-top: -5px;
  font-size: 18px;
}

.card-header .info p {
  margin: 2px 0 0 0;
  font-size: 13px;
  color: #777;
}

.card-header .info h5 {
  color: #667eea;
  font-weight: bold;
  font-size: 15px;
  margin: 2px 0 0 0;
  text-shadow: 0 1px 2px rgba(138, 43, 226, 0.08);
}

.card .desc {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
    align-items: center;
    justify-content: center;
    
  }

  .hero-section .text {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .hero-section h1,
  .hero-section h3,
  .hero-section p {
    text-align: center;
  
  }

  .hero-section dotlottie-wc {
    max-width: 300px;
    max-height: 200px;
  }

  .hero-buttons .btn {
    margin: 15px auto;
    font-size: 15px;
    padding: 12px 18px;
  }

  .content-section {
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
  }

  .content-section .text {
    margin: 20px 0;
  }

  .content-section p {
    margin: 10px 0 30px;
    font-size: 15px;
  }

  .content-section .image .formula,
  .content-section .image .diagram,
  .content-section .image .table {
    width: 100%;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }


  .content-section.reverse{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
  }

  .content-section.reverse .text {
    margin: 20px 0 0 0; 
    max-width: 90%;
    text-align: center;
  }

  .about-section{
    padding: 30px 20px 70px;
    
  }
  .about-cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .card {
    width: 300px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .card-front,
  .card-back {
    width: 100%;
    min-height: 250px; /* ikisini eşitle */
    height: 100%; /* her zaman kart kadar olsun */
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 24px 16px;
  }

  .hero-section h1 {
    font-size: clamp(1.5rem, 6vw, 2rem);
  }

  .hero-buttons .btn {
    padding: 10px 14px;
    font-size: 14px;
  }

  .content-section {
    padding: 24px 16px;
  }

  .content-section .image .formula,
  .content-section .image .diagram,
  .content-section .image .table {
    max-width: 220px;
  }

  .about-header h2 {
    font-size: 22px;
  }

  .about-header p {
    font-size: 16px;
  }
}

.cyber-security-module-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px; 
    background-color: rgb(230, 248, 255); 
    width: 100%;
    color: rgb(13, 13, 13);
    text-align: center;
    flex-direction: column;
    transition: background-color 0.5s ease;
    padding: 50px 20px; 
}

.cyber-security-module {
    position: relative;
    width: 500px;
    height: 300px;
    border: 2px solid  #8a6be1; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(102, 76, 175, 0.3); 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(138, 43, 226); 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cyber-security-module:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(7, 98, 51, 0.8); 
}

.hover-video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.cyber-security-module.hovering .hover-video {
    display: block;
    opacity: 1; 
}

.content {
    position: relative; 
    z-index: 1; 
    color: white; 
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lock-icon {
    width: 50px; 
    height: 50px; 
    background-color: transparent; 
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    mask: url('../Images/sec-icon.png') no-repeat center; 
    background-color: #000000; 
    -webkit-mask-size: contain;
    mask-size: contain;
}

.cyber-security-module h1 {
    font-size: 2em; 
    margin: 0 0 10px 0;
    color: white; 
}

.cyber-transition-area {
    margin-top: 10px;
    font-size: 1.1em; 
    color: #090e57; 
}


.module-btn {
    display: block; 
    margin-top: 25px; 
    padding: 10px 20px;
    background: linear-gradient(45deg, #664caf, #8a6be1);
    color: #fff; 
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    cursor: pointer;
    opacity: 0; 
    pointer-events: none;
    z-index: 2;
}



.cyber-security-module.hovering .content h1,
.cyber-security-module.hovering .content .cyber-transition-area,
.cyber-security-module.hovering .content .lock-icon {
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.cyber-security-module.hovering .module-btn {
    opacity: 1; 
    pointer-events: auto;
}
