body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(90deg, #184a6e, #287db1, #4da8da);
  color: white;
  padding: 50px 0 30px 50px;
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
}

.hero-section .text {
  max-width: 800px;
  margin-left: 100px;
}

.hero-section h1 {
  margin: 0 0 30px 0;
  font-weight: bold;
  font-size: 2.5rem;
}

.hero-section h3 {
  color: rgba(255, 255, 255, 0.833);
  margin: 0 0 20px 0;
  font-weight: 400;
  opacity: 0.9;
}

.hero-section p {
  font-size: 17px;
  line-height: 1.6;
  margin: 20px 0;
}

/* Hero Buttons Container */
.hero-buttons {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-buttons .btn {
  padding: 15px 15px;
  background: linear-gradient(135deg, #4da8da, #8a6be1);
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  margin: 30px 100px 0 0;
}

.hero-buttons .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #8a6be1, #4da8da);
}

.hero-section dotlottie-wc {
  width: 2000px;
  height: 350px;
  object-fit: fill;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-section .text {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .hero-section h1,
  .hero-section h3,
  .hero-section p {
    text-align: center;
  }

  .hero-section dotlottie-wc {
    max-width: 200px;
    max-height: 200px;
  }
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 50px 50px;
}


.content-section.reverse {
  background-color: rgb(230, 248, 255);
  padding: 50px 50px; 
}

.content-section.reverse h2 {
  margin: 50px 0px 10px 25px;

}

.content-section .text {
  margin: 0px 100px;
  flex: 1;
}

.content-section.reverse .text {
  margin-left: 100px;
  margin-right: 0px;
  flex: 1;
}
.title-underline {
  width: 90px;
  height: 4px;
  background: linear-gradient(45deg, #667eea, #764ba2);
  margin: 0 auto;
  border-radius: 2px;
}
.content-section .image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-section .image img {
  max-width: 100%;
}

.content-section .image .formula {
  width: 60%;
  max-width: 250px;
}
.content-section .image .diagram {
  width: 90%;
  max-width: 350px;
}

.content-section .image .table {
  max-width: 70%;
}

.content-section h2 {
  font-size: 23px;
  margin: 0px 0px 10px 25px;
  text-align: center;
}

.content-section p {
  font-size: 17px;
  line-height: 1.5;
  margin: 20px 0px 50px 45px;
  position: relative;
}

/*Dalga*/
.custom-shape-divider-top-1756072994 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: linear-gradient(90deg, #184a6e, #287db1, #4da8da);
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' fill='white'/></svg>")
    bottom/100% 100% no-repeat;
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' fill='white'/></svg>")
    bottom/100% 100% no-repeat;
}

.custom-shape-divider-top-1756072994 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
  transform: rotateY(180deg);
}

/*Buton tasarımı*/
.btn {
  display: block;
  width: fit-content;
  margin: 40px auto 0 auto;
  padding: 13px 15px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #664caf, #8a6be1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

/* Parlama efekti */
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.5s;
}

.btn:hover::before {
  left: 100%;
}

/* Hover efekti */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(102, 76, 175, 0.3);
}

/*Hakkımızda Özet*/
.about-section {
  background: rgb(230, 248, 255);
  width: 100%;
  padding: 50px 0 150px;
}

.about-preview {
  background: rgb(230, 248, 255);
  padding: 0 20px;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 1270px;
}

.about-header {
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: center;
}

.about-header h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-header p {
  font-size: 18px;
  color: #64748b;
  margin-top: 15px;
}

.about-cards {
  display: flex;
  justify-content: center; 
  align-items: flex-start;  
  gap: 90px;                  
  flex-wrap: wrap;
  margin-left: -50px;
  margin-top: 40px;
}

.card {
  width: 300px;
  height: 250px;
  perspective: 1000px;
  background: none;
  border-radius: 12px;
  
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.1s;
  transform-style: preserve-3d; /* ön ve arka yüz */
  transform-origin: center;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* döndüğünde görünmesin */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}

/* Ön yüz */
.card-front {
  background: white;
  text-align: left;
}

/* Arka yüz */
.card-back {
  /*background: #0077b6;*/
  background: linear-gradient(135deg, #184a6e, #287db1, #4da8da);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.card-back h2 {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.card-back p {
  font-size: 17px;
  margin: 0;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.icons a {
  font-size: 35px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  transition: transform 0.3s ease;

}

.icons a:hover {
  transform: translateY(-4px);
  color: rgb(230, 248, 255);
  
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-header .info{
  padding-left: 15px;
}

.card-header .info h3 {
  margin-bottom: 15px;
  margin-top: -5px;
  font-size: 18px;
}

.card-header .info p {
  margin: 2px 0 0 0;
  font-size: 13px;
  color: #777;
}

.card-header .info h5 {
  color: #667eea;
  font-weight: bold;
  font-size: 15px;
  margin: 2px 0 0 0;
  text-shadow: 0 1px 2px rgba(138,43,226,0.08);
}

.card .desc {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
